Button{
	-fx-cursor: hand;
	-fx-background-color: white;
	-fx-text-fill: black;
	-fx-border-color: black;
	-fx-border-width: 2px;
}
Button:hover{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: white;
	-fx-border-width: 2px;	
}

.invites:hover{
	-fx-background-color: black;
	-fx-text-fill: white;
	-fx-border-color: black;
}