#backButton {
    -fx-background-image: url("/images/ARROW_LEFT.png"); 
    -fx-background-size: 75 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#CardView {
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}

#registerLabel {
    -fx-underline: true;
    -fx-font-size: 15;
}

#ObjectiveCardDescription {
    -fx-background-color: #bfbfbf;
}

#publicObjectiveCard {
    -fx-border-color: #6c6c6d;
    -fx-border-width: 3;
}

#toolcardBackground {
    -fx-background-color: #ffe599;
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}


//login screen

.loginTextfield {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #
}

.loginLabel {
    -fx-font-weight: bold;
    -fx-font-size: 20;
}

#loginButton {
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
}

#loginBackground {
    -fx-background-image: url("/images/Logo/sagrada.png")
}

#loginLogo {
    -fx-background-image: url("/images/Logo/Sagrada-logo.gif");
}

#leftPane {
    -fx-background-color: #DCDCDC;

}


