#backButton {
    -fx-background-image: url("/images/ARROW_LEFT.png"); 
    -fx-background-size: 75 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#CardView {
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}

#registerLabel {
    -fx-underline: true;
}

#ObjectiveCardDescription {
    -fx-background-color: #bfbfbf;
}

#publicObjectiveCard {
    -fx-border-color: #6c6c6d;
    -fx-border-width: 3;
}

#toolcardBackground {
    -fx-background-color: #ffe599;
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}


//login screen

.loginTextfield {
    -fx-background-color: #FFFFFF;
    -fx-border-style: none;
}

.loginLabel {
    -fx-font-weight: bold;
}

#loginButton {
    -fx-font-weight: bold;
    -fx-background-radius: 12;
}

#loginBackground {
    -fx-background-color: #DCDCDC;
}

#loginPane {
    -fx-background-color: #1E90FF;
    -fx-background-radius: 25;
}

#loginLogo {
    -fx-background-image: url("/images/Logo/Sagrada-logo.gif");
}


