#backButton {
    -fx-background-image: url("/images/ARROW_LEFT.png"); 
    -fx-background-size: 75 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#CardView {
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}

#registerLabel {
    -fx-underline: true;
}

#ObjectiveCardDescription {
    -fx-background-color: #bfbfbf;
}

#publicObjectiveCard {
    -fx-border-color: #6c6c6d;
    -fx-border-width: 3;
}

#toolcardBackground {
    -fx-background-color: #ffe599;
    -fx-border-color: #C4923B;
    -fx-border-width: 3;
}

#statsButton {
    -fx-background-image: url("/images/lobby/STATS.jpg");
    -fx-background-size: 50 50;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#registerBackground {
    -fx-background-image: url("/images/background/sagrada.png");
}

#registerButton {
    -fx-font-weight: bold;
    -fx-background-color: black;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 14;
    -fx-text-fill: lightgray;
}

#registerButton:hover {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
}

#registerLeftPane {
    -fx-background-color: #FFFFFF;
}

.registerTextField {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1;
    -fx-border-color: Black;
}

.registerLabel {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-font-family: "Bookman Old Style";
}